.create__user__modal {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.create__user__modal .modal__body {
  width: 700px;
  height: 700px;

  background-color: var(--bg-light);

  border-radius: 8px;

  margin: 0 auto;
}

.create__user__modal .modal__body .modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 3rem;
}

.create__user__modal .modal__body .modal__header .icon {
  color: #ACACAC;
  font-size: 2rem;
  cursor: pointer;
}

.create__user__modal .modal__body .modal__header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 1.5rem;
}

.create__user__modal .modal__body .modal__header .title h1 {
  font-family: var(--archivo-bi);
  font-size: 2.2rem;
  color: var(--input-text-color);
}

.create__user__modal .modal__body form {
  padding: 1.5rem 3rem;

  row-gap: 1rem;

  display: flex;
  flex-direction: column;
}

.create__user__modal .modal__body form .input__group {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 1rem;
}

.create__user__modal .modal__body form .buttons {
  padding: 1.5rem 3rem;

  display: flex;
  justify-content: right;

  padding: 4rem 0 0 0;

  column-gap: 1rem;
}