header {
  width: 100%;
  height: 100px;

  background-color: var(--bg-light);

  position: absolute;
  top: 0;
  left: 0;
}

header .container {
  max-width: 1120px;
  height: 100%;

  margin: 0 auto;
}

header .container .content {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
}

header .container .content img {
  width: 12.5rem;
}

header .container .content .user__image {
  max-width: 72px;
  width: 100%;
  height: 72px;

  background-size: cover;
  background-position: center;

  border-radius: 100%;

  cursor: pointer;
}

.account__menu ul {
  background-color: var(--bg-ultra-dark);
}

.account__menu ul li {
  font-family: var(--archivo-b);
  color: var(--input-text-color);
}

.account__menu ul li .menu__icon {
  color: var(--input-text-color);
}