* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'archivo-regular';
  src: url('./assets/fonts/Archivo-Regular.ttf');
}

@font-face {
  font-family: 'archivo-bold';
  src: url('./assets/fonts/Archivo-Bold.ttf');
}

@font-face {
  font-family: 'archivo-bold-italic';
  src: url('./assets/fonts/Archivo-BoldItalic.ttf');
}

@font-face {
  font-family: 'archivo-light-italic';
  src: url('./assets/fonts/Archivo-LightItalic.ttf');
}

@font-face {
  font-family: 'archivo-extra-light-italic';
  src: url('./assets/fonts/Archivo-ExtraLightItalic.ttf');
}

:root {
  --bg-ultra-dark: #1F232C;
  --bg-dark: #282C34;
  --bg-light: #363B44;
  --blue: #00F0FF;
  --blue-hover: #00cddb;
  --green: #0BD707;
  --green-hover: #07b304;
  --red: #FF0000;
  --red-hover: #c90101;
  --input-text-color: #ACACAC;
  --archivo-r: 'archivo-regular';
  --archivo-b: 'archivo-bold';
  --archivo-bi: 'archivo-bold-italic';
  --archivo-li: 'archivo-light-italic';
  --archivo-eli: 'archivo-extra-light-italic';
}